<br><br>
<div class="containers">
  <div style="text-align-center"><b><h3>ESPECIFICACIONES PARA DESARROLLO Y ENTREGA</h3></b></div>
<hr>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header " id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           <b>DETALLE </b>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <P>
            Respecto al proyecto final como ha sido en las últimas ediciones, es libre, por tanto, la idea que ustedes construyan su api a partir de alguna idea que consideren interesante. 
        </P>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">1</span>  Construir la capa del servidor con nodejs (obligatorio)</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">2</span>  Construir la capa del servidor con nodejs + reactjs u otro si quieren (opcional)</li>
        </ol>
        <P>
            Cualquiera de las 2 opciones es válida y la cantidad de servicios rest es variable, mientras más alcancen hacer dentro del mes de duración del proyecto mejor.
        </P>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p>
              <b>SE EVALUARÁ</b>
          </p>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
         <ol class="list-group list-group-numbered">
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">1</span>  Construcción de apis rest (middlewares)</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">2</span>  Definición de rutas para los servicios rest</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">3</span>  Conexión a base de datos</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">4</span>  Arquitectura limpia del proyecto (la del curso) </li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">5</span>  Definición de seguridad con JWT</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">6</span>  Cantidad de modelos (con 3 o 4 ya está bien), validaciones de campos y referencias con otros</li>
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">7</span>  Habilitar protocolos de comunicación (CORS)</li>            
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">8</span>  Dos roles diferentes para usuarios</li>              
            <li class="list-group-item"><span class="badge badge-secondary badge-pill">9</span>  Envío de algunos servicios rest probados en POSTMAN y algunos creados de ejemplo en swagger</li>               
        </ol>
      </div>
    </div>
  </div>

</div>

</div>

