<br>
<div class="container mx-1">
    <div class="jumbotron">
        <br>
        <div align="center"><h2><b>Aplicación Exámen Curso NodeJS</b></h2></div>
        <div align="center"><h4><b>PostIT - Notas Adhesivas...</b></h4></div>
        <div align="center"><img src="/images/postIt_1.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="Responsive image"></div>
        <p><center><b> Un Post-it Note es una pequeña hoja de papel con una tira de pegamento que se puede volver a adherir en su parte posterior, hecha para adjuntar notas temporalmente a documentos y otras superficies.</b></center></p>
    </div>
</div>


