<hr color="#000000">
<div class="row" style="display: flex;  justify-content: center; font-size: 12px;">
    <b>@EXAMEN - Curso NodeJS - Profesor : Miguel Chamorro   - Alumno : Carlos Manuel Armijo Severino</b>
</div>